<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tony tales</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');
    </style>
    <script type="module" crossorigin src="{{ url_for('static', filename='assets/index-DNO_WUFS.js') }}"></script>
    <link rel="stylesheet" crossorigin href="{{ url_for('static', filename='assets/index-CNb4RPzC.css') }}">    
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
